body{ margin: 0; padding: 0; overflow: hidden; }

#Navigation-Bar{
    width: 100%;
    max-width: 100%;
    height: 2.7vw;
    max-height: 2.7vw;
    background-color: #154420;
    color: #fcfcfc;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

#adminNameBG { background-color: transparent; height: 2.7vw; line-height: 2.7vw; float: left; width: 18%; 
               text-align: center; }
#adminName{
    font-size: 1vw; 
    font-family: Lucida Sans Unicode; 
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 0.5vw 0 0.5vw;
    color: #fcfcfc;
}

.NavButtons:hover {background-color: #2e7a40;}
.NavButtons{
    background-color: transparent;
    border: none;
    color: #fcfcfc;
    margin: 0;
    cursor: pointer;
    height: 2.7vw;
    font-size: 1vw;
    font-family: Lucida Sans Unicode;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-weight: normal;
    outline: none;
}

#left-container, #right-container { float: left; height: 94.4vh; }
#left-container{
    width: 18%; 
    background-color: #154420; 
    color: #fcfcfc; 
    font-family: Lucida Sans Unicode;
    font-size: 1.2vw;
} 

#right-container { width: 82%; background-color: #fcfcfc; overflow: scroll; }
#container:after {
  content: "";
  display: table;
  clear: both;
}

#CVInfo:after {
  content: "";
  display: table;
  clear: both;
}

#left, #right { float: left; width: 50%; border: 1px solid red;}
#head { text-align: center; background-color: #64a462; color: #fcfcfc; font-weight: bold; padding: 0.3vw; }
#elements { padding: 1vw; }

.Custom-TextBox{
    background-color: #fcfcfc;
    border: none;
    border-radius: 0.2vw;
    outline-color: #e1e1e1;
    width: 14.5vw;
    height: 1.7vw;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    font-size: 1.1vw;
    margin-bottom: 0.2vw;
}

#reset { background-color: #fcfcfc; color: #2e7a40; }
#reset:hover { background-color: #2e7a40; color: #fcfcfc; }
.Left-Buttons:hover { background-color: #2e7a40; }
.Left-Buttons{
    margin-top: 1vw;
    border: none;
    background-color: #64a462;
    color: #fcfcfc;
    border-radius: 0.2vw;
    height: 2.5vw;
    width: 7.5vw;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;   
    outline-color: #154420;
}

#adminLogout { float: right; }
#report, #download, #back1 
{
    border: none;
    background-color: #154420;
    color: #fcfcfc;
    border-radius: 0.2vw;
    width: 13vw;
    height: 2.5vw;
    cursor: pointer;
    margin: 1vw;
    outline-color: #154420;
    font-size: 1.2vw;
}

#download, #back1 { margin: 0; margin-bottom: 1vw; } #back1 { width: 8vw; }
#report:hover, #download:hover, #back1:hover {  background-color: #2e7a40; }
#userReport { font-size: 1.2vw; font-family: Lucida Sans Unicode; }
#userview { margin: auto; padding: 1vw; height: 100%; margin-top: 2vw; padding-top: 0; }

.TablePadding { padding-left: 1vw; }
.IndvReportLabel { font-weight: bold; }

#AlumniReportTable { width: 60vw; }

#ReportHead
{
   color: #154420;
   font-family: Lucida Sans Unicode;
   font-size: 2vw;
   text-align: center;
   margin: 0;
   padding: 0;
   font-weight: bold;
}

.gridView{ table-layout: fixed; font-size: 1vw; font-family: Lucida Sans Unicode;  }
.col { word-wrap: break-word; width: 10vw; }

/* ------ ADMIN SETTINGS ------- */

#settingDiv { padding: 3vw; border: 0.2vw solid #e1e1e1; }
#pwdDiv, #settingDiv{
    display: inline-block;
    margin: 0 auto 0 auto; 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Lucida Sans Unicode;
    font-size: 1.3vw;
}

#pass, #newPwd, #newPwd1 
{
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.2vw;
    outline-color: transparent;
    width: 25vw;
    height: 2.5vw;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    font-size: 1.1vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    box-shadow: 0px 0px 0px 0.1vw rgba(0,0,0,0.3); 
}

#newPwd, #newPwd1 { margin-left: 2vw; }
#settingsHead { border-bottom: 0.1vw solid #154420;}

#chk, #VerifyPassBTN, #updatePwd, #updatePic, #updatePassBTN
{
    background-color: #154420;
    color: #fcfcfc;
    border: none;
    border-radius: 0.2vw;
    outline-color: #154420;
    width: 6vw;
    height: 2.7vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    cursor: pointer;
    font-weight: bold;
}
#chk:hover, #VerifyPassBTN:hover, #updatePwd:hover, #updatePic:hover, #updatePassBTN:hover { background-color: #2a7a40; }
#passworderror, #passerror { font-size: 1.1vw; }
#passerror, #passchanged { margin-left: 2vw; }
#updatePwd, #updatePic, #updatePassBTN { float: right; width: 13vw; font-weight: bold; text-transform: uppercase; font-size: 1.1vw; }
.
.reportTable { height: 100vh; }
